/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin-top: 42px;
  padding: 0;
}

/* Style the list items */
.city-weater-element {
  cursor: pointer;
  position: relative;
  padding-left: 12px;
  /* padding: 12px 8px 12px 40px; */
  text-align: left;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  color: grey;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
.city-weater-element :nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
.city-weater-element :hover {
  background: #ddd;
}